.movie {

}

.movie div{
  display: flex;
}
.movie div .image {
  margin-right: 20px;
  justify-content: flex-start;
}

.movie div .storyline h4 {
  margin-top: 0px;
}

@media 
only screen and ( min-resolution: 192dpi),
only screen and ( max-width: 480px ) {
  .movie div{
    display: block;
  }
  .movie div .image {
    text-align: center;
  }
}